.themed-btn {
    margin: 5px;
    font-size: 13pt;
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
}

.themed-btn.light.primary {
    color: white;
    background-color: #007bff;

    &:hover {
        background-color: #0069d9;
        cursor: pointer;
    }
}

.themed-btn.light.secondary {
    background: none;
    border: solid 1px #333;
    color: #333;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}