.themed-btn.light {
    margin: 5px;
    font-size: 13pt;
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    background-color: #007bff;

    &:hover {
        background-color: #0069d9;
        cursor: pointer;
    }
}

.themed-btn.dark {
    margin: 5px;
    font-size: 13pt;
    border: 1px solid rgb(255, 223, 97);
    border-radius: 5px;
    padding: 10px 15px;
    color: rgb(255, 223, 97);
    background-color: #222;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;
    }
}

.themed-btn.hacker {
    font-family: monospace;
    color: rgb(99, 237, 45);
    border: solid 2px rgb(99, 237, 45);
    border-radius: 0px;
    padding: 5px 15px;
    background-color: black;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}